<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Création utilisateur Cloudron</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1>Création d'un utilisateur</h1>
        <p>Cet outil vous permet de créer un utilisateur d'une manière bien plus simple.</p>
        <br>
        <div class="card text-center">
            <h2 class="card-header">Informations nécessaire</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Addresse email</li>
                <li class="list-group-item">Addresse email voulue Babel.Coop</li>
                <li class="list-group-item">Nom complet</li>
                <li class="list-group-item">Nom d'utilisateur</li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="alert alert-warning text-center" role="alert">
        Site en construction
    </div>
</div>
</body>
</html>