<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Création utilisateur Cloudron</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
        <div class="jumbotron">
            <div class="container text-center">
                <h1>Création d'un utilisateur</h1>
                <p>Cet outil vous permet de créer un utilisateur d'une manière bien plus simple.</p>
                <br>
                <div class="card text-center">
                    <h2 class="card-header">Informations nécessaire</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Adresse email perso.</li>
                        <li class="list-group-item">Adresse email voulue Babel.Coop</li>
                        <li class="list-group-item">Nom complet</li>
                        <li class="list-group-item">Nom d'utilisateur</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <form action="/api/user" method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="fallbackEmail">Email perso.</label>
                        <input type="email" class="form-control" id="fallbackEmail" name="fallbackEmail" placeholder="xxx@xxx.xx">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">Email babel</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="xxx.xxx@babel.coop">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="displayName">Nom complet</label>
                    <input type="text" class="form-control" id="displayName" name="displayName" placeholder="Dupont Jean">
                </div>
                <div class="form-group col-md-6">
                    <label for="username">Nom d'utilisateur</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="jean.dupont">
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="isVisitor" id="isVisitor">
                        <label class="form-check-label" for="isVisitor">
                            Visiteur ?
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Création</button>
            </form>
        </div>
    </body>
</html>